<div>
<table>
{{ $CSV := .Get "url" }}
{{ range $i, $r := getCSV "," $CSV }}
<!-- Find if we're header or not -->
{{ $elem := "" }}
{{ $value := "" }}
{{ $color := ""}}
{{ $elemfin := "" }}
    {{ if eq $i 0}}
        {{ $elem = "<th>"}}
            {{ $elemfin = "</th>"}}
    {{ else }}
        {{ $elem = "<td>"}}
            {{ $elemfin = "</td>"}}
    {{ end}}
    <tr>
        {{ $elem | safeHTML }} {{ index $r 3 }}  <!-- promedio-->{{ $elemfin | safeHTML }}

        {{ $web := index $r 8}}
        <!-- Start writing the lines for the elements -->
        {{ if ne $web "" }}
            {{ $elem | safeHTML }} <a href="{{ $web }}">{{ index $r 7 }}</a> <!-- nombre centro-->({{ index $r 10 }}<!-- Tipo-->){{ $elemfin | safeHTML }}
        {{else}}
            {{ $elem | safeHTML }}{{ index $r 7 }} <!-- nombre centro-->({{ index $r 10 }}<!-- Tipo-->){{ $elemfin | safeHTML }}
        {{end}}

        {{ $elem | safeHTML }} {{ index $r 2 }} <!-- Población-->{{ $elemfin | safeHTML }}
        <!-- {{ $elem | safeHTML }} {{ index $r 2 }} Comunidad{{ $elemfin | safeHTML }}    -->

        {{ $elem | safeHTML }} {{ index $r 0 }}  <!-- curso-->{{ $elemfin | safeHTML }}

        {{ $value = index $r 4 }}
        {{ if eq $value "Sí"}}
        {{  $color = "PaleGreen" }}
        {{end}}
        {{ if eq $value "No"}}
        {{  $color = "LightCoral" }}
        {{end}}
        {{ $elem | safeHTML }}<p style=background-color:{{ $color }}>{{ $value }}</p><!-- detectó-->{{ $elemfin | safeHTML }}


        {{ $value = index $r 5 }}
        {{ if eq $value "Sí"}}
        {{  $color = "PaleGreen" }}
        {{end}}
        {{ if eq $value "No"}}
        {{  $color = "LightCoral" }}
        {{end}}
        {{ $elem | safeHTML }}<p style=background-color:{{ $color }}>{{ $value }}</p><!-- informe externo-->{{ $elemfin | safeHTML }}

        {{ $value = index $r 6 }}
        {{ if eq $value "Sí"}}
        {{  $color = "PaleGreen" }}
        {{end}}
        {{ if eq $value "No"}}
        {{  $color = "LightCoral" }}
        {{end}}
        {{ $elem | safeHTML }}<p style=background-color:{{ $color }}>{{ $value }}</p><!-- adaptacion-->{{ $elemfin | safeHTML }}


        {{ $value = index $r 11 }}
        {{ if eq $value "Sí"}}
        {{  $color = "LightCoral" }}
        {{end}}
        {{ if eq $value "No"}}
        {{  $color = "PaleGreen" }}
        {{end}}
        {{ $elem | safeHTML }}<p style=background-color:{{ $color }}>{{ $value }}</p><!-- acoso-->{{ $elemfin | safeHTML }}

        <!-- {{ $elem | safeHTML }} {{ index $r 14 }} sexo{{ $elemfin | safeHTML }}    -->
    </tr>
{{end}}
</table>
</div>
